
@import 'icon.css';
* {
    box-sizing: border-box;
}
body {
background-color:#F4F4F4 ;
margin: 0 ;
font-family:"Roboto", sans-serif ;
}
.container {
    max-width:  1200px; 
    margin: 0 auto ;
    padding: 60px 15px;
}
@media (max-width:1200px){
    .container{
       width:830px;
    }
}
@media (max-width:599px){
    .cards__holder{
    flex-direction: column;
    align-items: center;
    }
}
@media (max-width:829px){
    .container{
        width:600px;
    }
}
.main+.sidebar{
    margin-left: 30px;
}
.row {
    display: flex;
    justify-content: space-between;
}
.main {
    width: 870px;
}
.sidebar { 
    width: 270px;
    min-width: 200px;
    
}
.toggle-sidebar-button {
    display: none;
    width: 30px;
    height: 30px;
}
@media (max-width:829px){
    .sidebar{
        /* display: none; */
        position: fixed;
        top: 0;
       left:0;
        background-color: ivory;
        padding: 15px;
        box-shadow:10px 0px 15px #a29050e8;
        overflow-y: scroll;
        bottom: 0;
        margin-left:0 !important ;
        transform:translateX(-120%);
        transition: transform 0.5s;
    }
    .sidebar--mobile-active {
        transform:translateX(0);
    }
    .toggle-sidebar-button {
        display: block;
    }
}

.cards__holder{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cards__holder>a{
    margin-bottom: 30px;
}
/* Cards */
.card {
    background-color: #fff;
    width: 270px;
    position: relative;
}
.card__link{
    display:inline-block;
    text-decoration: none; 
    transition: all 0.5s;
}
.card__link:hover{
    opacity:0.9;
    transform: translateY(-5px);
}
.card__bages {
    display:flex;
    position: absolute;
    font-size: 14px;
}
.card__badge {
display:inline-block;
height: 22px;
padding: 0 10px;
border-radius: 4px;
line-height: 23px;
}
.card__badge:first-child{
background: #FFCF26;
color: #000000;
margin: 10px;
}
.card__badge:last-child{
color: #fff;
background: #11BE75;
margin-top: 10px;
}

img{
    display: block;
}

.card__content {
    padding: 15px 15px 20px;
}
.card__title {
    margin:0;
   margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.16;
    color: #000000;
    
}
.card__title:first-letter{
    color:#25e61b
}
.card__term {
font-size: 14px;
font-weight: 400;
line-height: 1.14;
color:#000;
margin-bottom: 10px;

}
.card__metro {
    font-size: 14px;
font-weight: 400;
line-height: 1.14;
color:#000;
margin-bottom: 10px;
}
.card__metro::before {
    content:url('./../img/icon/Moscow_Metro\ 1.svg');
    width: 16px;
    height: 11px;
    display: inline-block;
    vertical-align: baseline;
    margin-right: 10px;
}
.card__adress {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0em;
    color: #777777;
    margin-bottom: 10px;
}
/* Hiden cards */
.card__link__hidden{
    display: none;
}
/*Button more*/
.btn-more  {
height: 80px;
width: 100%;
border-radius: 4px;
background: #E5E5E5;
border: none;
font-size: 18px;
font-weight: 400;
text-align: center;
color: #4290C9;
cursor: pointer;
line-height: 22px;
}
.btn-more:hover{
    background-color: #dfcdcd ;
    border:none;
    opacity: 0.9;
    transition: 0.6s;
}
.btn-more img {
    display: inline-block;
    vertical-align: middle;
}
/* First Widget*/
.widget + .widget {
margin-top: 30px;
}
.widget__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.16;
    color: #000000;
    position: relative;
    margin-bottom: 21px;
    cursor: pointer;
}
.widget__title__active::after{
 transform: rotate(180deg);

}
.widget__title::after{
    content:url("./../img/icon/chevron-up.svg");
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
}
.widget__body__hidden{
display: none;
}
.location__row {
    display: flex;
    border: 1px solid #D6D6D6
}
.location__btn {
font-family: inherit;
font-size: 14px;
font-weight: 500;
height: 50px;
border:none;
background-color: transparent;
color:#000;
text-align: center;
flex-grow: 1;
cursor: pointer;
transition:background-color 0.5s ease-in ;
/* padding: 0 15px; */
font-style: normal;
line-height: 50px;
display: block;
}
.location__row:first-child{
border-radius: 4px 4px 0 0 ;
overflow: hidden;
}
.location__row:last-child{
border-radius: 0 0 4px 4px ;
border-top: none;
overflow: hidden;
}
.location__checkbox{
    opacity: 0;
    width: 1px;
    height: 1px;
    position: absolute;
}
.location__checkbox:checked + .location__btn{
    background-color: #FFCF26;
}
.location__checkbox:checked + .location__btn:hover{
    background-color: #e6b813;
}
/*  Widget radio buttons */
.radio{
    display:block;
    position: relative;
    cursor: pointer;
}
.radio+.radio{
    margin-top:15px;
}
.radio__real {
    opacity: 0;
    width: 1px;
    height: 1px;
    position: absolute;
}
.radio__fake {
display:inline-block;
border: 1px solid #777777;
width: 20px;
height: 20px;
background-color: #FFFFFF;
border-radius: 50%;
position:relative;
margin-right: 10px;
vertical-align: bottom;
}
.radio__real:checked+.radio__fake::before {
    content:"";
    width: 8px;
    height: 8px;
    background: #3C3C3C;
    position:absolute;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    top:50%;
    left:50%;
}
.radio__real:checked+.radio__fake{
    background-color: orange;
}
.radio__title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
}
.radio__real:checked ~ .radio__title{
    font-weight: 500;
}
/* Widget heckboxes */
.checkbox {
    display:block;
    cursor: pointer;
}
.checkbox+.checkbox{
    margin-top: 15px;
}
.checkbox__real {
    opacity: 0;
    width: 1px;
    height: 1px;
    position: absolute;
}
.checkbox__fake {
    display:inline-block;
    height: 20px;
    width: 20px;
    border-radius: 2px;
    border: 1px solid #777777;
    background-color: transparent;
    position: relative;
    vertical-align: bottom;
}
.checkbox__title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
}
.checkbox__real:checked ~ .checkbox__title{
    font-weight: 500;
}
.checkbox__real:checked+.checkbox__fake{
    background: #FFE074;

}
.checkbox__real:checked+.checkbox__fake::before{
    content:"";
    width: 18px;
    height: 18px;
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background-image: url(./../img/icon/checkbox-checked.svg);
    background-repeat: no-repeat;
    background-size:initial ;
    background-position: center;
}

/* Hidden elements widget */
.widget__show-hidden{
    padding: 0;
    display:inline-block;
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0em;
    text-align: left;
    color: #4290C9;
    cursor: pointer;
    transition : all 0.2s ease-in ;
    margin-top:15px;
    margin-bottom: 30px;
    }
.widget__show-hidden:hover{
    color: #0574c4;
    text-decoration: underline;
    border:none
    }
.widget-hidden {
display:none;
}
/* Widget toggle */

.toggle {
    padding-bottom: 30px;
    cursor: pointer;
}
.toggle__real {
    opacity: 0;
    width: 1px;
    height: 1px;
    position: absolute;
}
.toggle__fake {
margin-right: 10px;
height: 20px;
width: 37px;
background:#c4c4c4;
border-radius: 10px;
display: inline-block;
position: relative;
transition: all 0.5s ease-in;
vertical-align: bottom;

}
.toggle__fake::before{
    content:"";
    height: 16px;
    width: 16px;
    background: #3C3C3C;
    position:absolute;
    border-radius: 50%;
    top:2px;
    left:2px;
    transition: all 0.3s ease-in;

}
.togglle__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    color:#000;
}

.toggle__real:checked ~ .toggle__title{
    font-weight: 500;
}
.toggle__real:checked + .toggle__fake{
background: #FFE074;
}
.toggle__real:checked + .toggle__fake::before{
left:19px; 
}
/* Form buttons */
.form-btn {
padding:0;
width: 100%;
height: 50px;
border: 1px solid #D6D6D6;
font-family: inherit;
font-size: 16px;
font-weight: 400;
text-align: center;
border-radius: 4px;
cursor: pointer;
background: transparent;
transition:all 0.2s ease-in;
line-height: 23px;
}
.form-btn+.form-btn {
margin-top: 10px;
}
.form-btn--submit {
background: #FFCF26;
}
.form-btn:hover {
background: rgb(230, 224, 223);
}
.form-btn--submit:hover {
background: #f1bf09;
}
.form-btn img {
margin-right: 6px;
display: inline-block;
vertical-align: bottom;
}
   