* {
    box-sizing: border-box;
}
body {
background-color:#F4F4F4 ;
margin: 0 ;
}
.container {
    max-width:  1170px; 
    margin: 0 auto;
    padding-top: 60px;
}
.row {
    display: flex;
    justify-content: space-between;
}
.main {
    width: 870px;
    height: 200px;
    background-color: blue;
}
.sidebar {
    width: 270px;
    height: 200px;
    background-color: crimson;
}